{"filter":false,"title":".babelrc","tooltip":"/.babelrc","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":5,"column":1},"action":"insert","lines":["{","  \"presets\":[","    \"es2015\",","    \"stage-0\"","  ]","}"],"id":1}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":5,"column":1},"end":{"row":5,"column":1},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1484180447939,"hash":"c485f91f9ce3a89599fa1b148684f501b3f4c92d"}